@model List<HumanResourcesForm.Models.Applicant>

@{
	ViewData["Title"] = "Applicants";
}

<h2>Applicants</h2>



<table class="table">
	<thead>
		<tr>
			<th>Name Surname</th>
			<th>Identity Number</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.NameSurname</td>
				<td>@item.IdentityNumber</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
				</td>

			</tr>
		}
	</tbody>
</table>



